body {
    background: white;
    color: black;

}


.cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
}


footer,
.board,
.score,
.victory,
.restart {
    display: flex;
    justify-content: center;
}

.restart {
    display: none;
}

.start-game {
    display: flex;
    justify-content: center;
    text-align: center;
}