body {
    background: white;
    color: black;

}


.game-container {
    border-collapse: separate;
    border-spacing: 10px;
}


footer,
.board,
.score,
.victory,
.restart {
    display: flex;
    justify-content: center;
}

.restart {
    text-align: center;
    display: none;
}